node_modules/
dist/
.env
docker/.env
.vscode/
.DS_Store
coverage/
npm-debug.log
yarn-error.log
.idea/
*.log
*.tsbuildinfo
jest.config.js
jest.config.d.ts
jest.config.*.map
build/
.cache/
.next/
out/
.svelte-kit/
.hintrc
supabase/.temp
docs/support_material.md
docs/support_auth.md
front/task-manager/src/app/core/environment.ts
